<p id="notice"><%= notice %></p>

<p>
  <b>Knotena:</b>
  <%= @kanten.knotenA_id %>
</p>

<p>
  <b>Knotenb:</b>
  <%= @kanten.knotenB_id %>
</p>

<p>
  <b>Distanz:</b>
  <%= @kanten.distanz %>
</p>


<%= link_to 'Edit', edit_kanten_path(@kanten) %> |
<%= link_to 'Back', kantens_path %>
